@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    
    font-family: 'Poppins', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,46,153,1) 0%, rgba(66,142,8,1) 0%, rgba(106,9,121,1) 0%, rgba(15,92,218,1) 55%, rgba(132,7,164,1) 100%, rgba(0,212,255,1) 100%);
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
}
#form{
    background-color: rgb(0, 0, 0,0.4);
    border-radius: 15px;
    padding: 64px;
}
.title{
    font-size: 1.8px;
    margin-bottom: 10px;
}
